{% load static %}
<section id="about">
    <div class="row">
        <div class="small-12 large-8 large-offset-2 columns text-center">
            <img class="img-circle" src="{% static 'assets/images/jovan.jpg' %}" alt="headshot">
            <div class="details">
                <h2>Hi, I'm Jovan. I...<br>
                    <span id="writing-text">
                        <span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <div class="cta text-center">
                        <a class="my-button cta-button expand form-button" href="mailto:pylancer18@gmail.com">Get In Touch</a>
                    </div>
                </div>
                <div class="small-12 column">
                    <div class="my-arrow-div text-center">
                        <a href="https://github.com/RedGarnet01">
                            <i class="fa fa-github-alt fa-2x"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>