{% load static %}
<section id="teaching">
    <h2 class="text-center">Learning</h2>
    <div class="row">
        <div class="small-12 medium-8 medium-offset-2">
            <p class="text-center tag-line">In the last couple of years I have been learning and studying Web & Software Development. I want to use my skills to help people solve problems and promote business.</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 columns">
            <div class="teaching-domains"></div>
        </div>
    </div>
</section>