{% load static %}
<div class="row work-row">
    <!-- even -->
    <div class="small-12 medium-6 columns">
        <img src="{% static 'assets/images/diaryapp.png' %}" alt="">
    </div>
    <div class="small-12 medium-5 medium-offset-1 columns">
        <div class="details details-ftm">
            <h3>Diary App</h3>
            <p class="platform">Python</p>
            <br>
            <!-- <p class="icons"> <i class="fi-monitor"></i> <i class="fi-tablet-portrait"></i> <i class="fi-mobile"></i> </p> -->
            <p>The app uses a database to create, edit, and delete entries.</p>
            <a class="my-button" target="_blank" href="https://github.com/RedGarnet01/diary-app">Visit Website</a>
        </div>
    </div>
</div>